* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    font-family: Inter, sans-serif;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    gap: 20px;
}

.die {
    height: 50px;
    width: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}